In [22]:
import pandas as pd

In [23]:
# Read the data
dfnt_raw = pd.read_csv('23100022PowerPlant.csv')
print(f'Data frame shape: {dfnt_raw.shape}')
print(f'Data frame column types:\n{dfnt_raw.dtypes}')
dfnt_raw.head(12)

Data frame shape: (4750, 16)
Data frame column types:
REF_DATE                 int64
GEO                     object
DGUID                   object
Airports                object
Type of power plant     object
UOM                     object
UOM_ID                   int64
SCALAR_FACTOR           object
SCALAR_ID                int64
VECTOR                  object
COORDINATE              object
VALUE                    int64
STATUS                 float64
SYMBOL                 float64
TERMINATED              object
DECIMALS                 int64
dtype: object

,REF_DATE,GEO,DGUID,Airports,Type of power plant,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1997,Canada,2016A000011124,"Total, all airports",Jet engines,Number,223,units,0,v41550872,1.1.1,1069321,NaN,NaN,NaN,0
1,1997,Canada,2016A000011124,"Total, all airports",Turbo-propellers,Number,223,units,0,v41550873,1.1.2,893872,NaN,NaN,NaN,0
2,1997,Canada,2016A000011124,"Total, all airports",Piston engines,Number,223,units,0,v41550874,1.1.3,1172949,NaN,NaN,NaN,0
3,1997,Canada,2016A000011124,"Total, all airports",Helicopters,Number,223,units,0,v41550875,1.1.4,169777,NaN,NaN,NaN,0
4,1997,Canada,2016A000011124,"Total, all airports",Gliders,Number,223,units,0,v41550876,1.1.5,7843,NaN,NaN,NaN,0
5,1997,Canada,2016A000011124,"Abbotsford, British Columbia",Jet engines,Number,223,units,0,v41550877,1.2.1,1808,NaN,NaN,NaN,0
6,1997,Canada,2016A000011124,"Abbotsford, British Columbia",Turbo-propellers,Number,223,units,0,v41550878,1.2.2,3220,NaN,NaN,NaN,0
7,1997,Canada,2016A000011124,"Abbotsford, British Columbia",Piston engines,Number,223,units,0,v41550879,1.2.3,45936,NaN,NaN,NaN,0
8,1997,Canada,2016A000011124,"Abbotsford, British Columbia",Helicopters,Number,223,units,0,v41550880,1.2.4,5774,NaN,NaN,NaN,0
9,1997,Canada,2016A000011124,"Abbotsford, British Columbia",Gliders,Number,223,units,0,v41550881,1.2.5,31,NaN,NaN,NaN,0
10,1997,Canada,2016A000011124,"Boundary Bay, British Columbia",Jet engines,Number,223,units,0,v41550882,1.3.1,56,NaN,NaN,NaN,0
11,1997,Canada,2016A000011124,"Boundary Bay, British Columbia",Turbo-propellers,Number,223,units,0,v41550883,1.3.2,363,NaN,NaN,NaN,0

In [24]:
# Get only columns we want to work with
key = ['REF_DATE', 'Airports', 'Type of power plant', 'VALUE']
df = dfnt_raw[key]
df.head(12)

    REF_DATE                        Airports Type of power plant    VALUE
0       1997             Total, all airports         Jet engines  1069321
1       1997             Total, all airports    Turbo-propellers   893872
2       1997             Total, all airports      Piston engines  1172949
3       1997             Total, all airports         Helicopters   169777
4       1997             Total, all airports             Gliders     7843
5       1997    Abbotsford, British Columbia         Jet engines     1808
6       1997    Abbotsford, British Columbia    Turbo-propellers     3220
7       1997    Abbotsford, British Columbia      Piston engines    45936
8       1997    Abbotsford, British Columbia         Helicopters     5774
9       1997    Abbotsford, British Columbia             Gliders       31
10      1997  Boundary Bay, British Columbia         Jet engines       56
11      1997  Boundary Bay, British Columbia    Turbo-propellers      363

In [25]:
# Get fata from 2014-2016
dfd = df.loc[df['REF_DATE']>=2012]
dfd.sample(10)

,REF_DATE,Airports,Type of power plant,VALUE
3650,2013,"Toronto/Buttonville Municipal, Ontario",Jet engines,800
4718,2018,"Vancouver International, British Columbia",Helicopters,9213
4203,2016,"London, Ontario",Helicopters,2417
3950,2015,"Fort McMurray, Alberta",Jet engines,11298
4267,2016,"St-Jean, Quebec",Piston engines,11523
3980,2015,"Kitchener/Waterloo, Ontario",Jet engines,3850
4186,2016,"Kelowna, British Columbia",Turbo-propellers,26089
3743,2014,"Fort McMurray, Alberta",Helicopters,15531
4744,2018,"Winnipeg/St. Andrews, Manitoba",Gliders,0
3757,2014,"Halifax/Robert L. Stanfield International, Nov...",Piston engines,1552

In [26]:
# Pivot table
Mycolumn='Type of power plant'
df=dfd.pivot_table(index= ['REF_DATE','Airports'], columns= Mycolumn, values='VALUE')
df.reset_index(inplace=True)
display(df)

Type of power plant,REF_DATE,Airports,Gliders,Helicopters,Jet engines,Piston engines,Turbo-propellers
0,2012,"Abbotsford, British Columbia",151,9719,5692,19690,2436
1,2012,"Boundary Bay, British Columbia",0,3154,182,56154,614
2,2012,"Calgary International, Alberta",0,9160,160404,3306,66259
3,2012,"Calgary/Springbank, Alberta",0,9164,632,42596,1399
4,2012,"Chicoutimi/St-Honoré, Quebec",6,2587,38,15218,1350
...,...,...,...,...,...,...,...
291,2018,"Whitehorse International, Yukon",1,3190,4584,9167,7358
292,2018,"Windsor, Ontario",0,219,1834,13477,7473
293,2018,Winnipeg/James Armstrong Richardson Internatio...,3,3758,51288,2069,52196
294,2018,"Winnipeg/St. Andrews, Manitoba",0,929,2,29554,12284
295,2018,"Yellowknife, Northwest Territories",0,3577,6390,1915,32528

In [27]:
# Get 'All Airports' data in a df
mask = df['Airports'] == 'Total, all airports'
df_all = df[mask]
display(df_all)

Type of power plant,REF_DATE,Airports,Gliders,Helicopters,Jet engines,Piston engines,Turbo-propellers
34,2012,"Total, all airports",10660,168551,1257273,781074,973314
77,2013,"Total, all airports",10852,168438,1235039,761691,981768
119,2014,"Total, all airports",12151,161888,1233142,741551,999368
161,2015,"Total, all airports",11565,166930,1218642,776266,1004149
203,2016,"Total, all airports",10470,167342,1182383,804419,1016117
245,2017,"Total, all airports",12009,167698,1188241,806979,1061216
287,2018,"Total, all airports",12670,164976,1209643,810340,1095264

In [28]:
# Get 'All Airports' data in a df
mask = df['Airports'] != 'Total, all airports'
df_ap = df[mask]
print(df_ap.shape)
display(df_ap)

(289, 7)

Type of power plant,REF_DATE,Airports,Gliders,Helicopters,Jet engines,Piston engines,Turbo-propellers
0,2012,"Abbotsford, British Columbia",151,9719,5692,19690,2436
1,2012,"Boundary Bay, British Columbia",0,3154,182,56154,614
2,2012,"Calgary International, Alberta",0,9160,160404,3306,66259
3,2012,"Calgary/Springbank, Alberta",0,9164,632,42596,1399
4,2012,"Chicoutimi/St-Honoré, Quebec",6,2587,38,15218,1350
...,...,...,...,...,...,...,...
291,2018,"Whitehorse International, Yukon",1,3190,4584,9167,7358
292,2018,"Windsor, Ontario",0,219,1834,13477,7473
293,2018,Winnipeg/James Armstrong Richardson Internatio...,3,3758,51288,2069,52196
294,2018,"Winnipeg/St. Andrews, Manitoba",0,929,2,29554,12284
295,2018,"Yellowknife, Northwest Territories",0,3577,6390,1915,32528

In [29]:
df_ap[['Airport','State']] = df['Airports'].str.split(',',expand=True)
df_ap = df_ap.drop('Airports', axis=1)
display(df_ap)

C:\Users\JCY\AppData\Local\Temp\ipykernel_18416\3344912525.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ap[['Airport','State']] = df['Airports'].str.split(',',expand=True)
C:\Users\JCY\AppData\Local\Temp\ipykernel_18416\3344912525.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ap[['Airport','State']] = df['Airports'].str.split(',',expand=True)

Type of power plant,REF_DATE,Gliders,Helicopters,Jet engines,Piston engines,Turbo-propellers,Airport,State
0,2012,151,9719,5692,19690,2436,Abbotsford,British Columbia
1,2012,0,3154,182,56154,614,Boundary Bay,British Columbia
2,2012,0,9160,160404,3306,66259,Calgary International,Alberta
3,2012,0,9164,632,42596,1399,Calgary/Springbank,Alberta
4,2012,6,2587,38,15218,1350,Chicoutimi/St-Honoré,Quebec
...,...,...,...,...,...,...,...,...
291,2018,1,3190,4584,9167,7358,Whitehorse International,Yukon
292,2018,0,219,1834,13477,7473,Windsor,Ontario
293,2018,3,3758,51288,2069,52196,Winnipeg/James Armstrong Richardson International,Manitoba
294,2018,0,929,2,29554,12284,Winnipeg/St. Andrews,Manitoba
295,2018,0,3577,6390,1915,32528,Yellowknife,Northwest Territories

In [ ]:
df_states = df_ap.loc[df['REF_DATE']==2012]