In [4]:
import pandas as pd

In [5]:
# Read the data
dfnt_raw = pd.read_csv('23100039CicilEmplyFuel.csv')
print(f'Data frame shape: {dfnt_raw.shape}')
dfnt_raw.sample(30)

Data frame shape: (310, 17)

,REF_DATE,GEO,DGUID,Operating statistics type,Air carrier levels,Employment and fuel consumption,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
77,2013,Canada,NaN,Other flight personnel,"Canadian air carriers, Levels I and II",Wages and salaries expenses,Dollars,81,thousands,3,v122643321,1.3.2.2,637465,NaN,NaN,NaN,0
53,2012,Canada,NaN,Turbo fuel,"Canadian air carriers, Level III",Consumption expenses,Dollars,81,thousands,3,v122643359,1.9.3.4,192248,NaN,NaN,NaN,0
309,2016,Canada,NaN,All other fuel and oil,"Canadian air carriers, Level III",Consumption expenses,Dollars,81,thousands,3,v122666215,1.11.3.4,994,NaN,NaN,NaN,0
128,2014,Canada,NaN,"Total, average number of employees","Canadian air carriers, Level III",Average number of employees,Number,223,units,0,v122643310,1.1.3.1,5807,NaN,NaN,NaN,0
239,2015,Canada,NaN,Turbo fuel,"Canadian air carriers, Level III",Consumption expenses,Dollars,81,thousands,3,v122643359,1.9.3.4,167188,NaN,NaN,NaN,0
81,2013,Canada,NaN,General management and administration employees,"Total, Canadian air carriers, Levels I to III",Wages and salaries expenses,Dollars,81,thousands,3,v122643325,1.4.1.2,327102,NaN,NaN,NaN,0
127,2014,Canada,NaN,"Total, average number of employees","Canadian air carriers, Levels I and II",Wages and salaries expenses,Dollars,81,thousands,3,v122643309,1.1.2.2,3447486,NaN,NaN,NaN,0
155,2014,Canada,NaN,Aircraft and traffic servicing personnel,"Total, Canadian air carriers, Levels I to III",Wages and salaries expenses,Dollars,81,thousands,3,v122643337,1.6.1.2,434910,NaN,NaN,NaN,0
269,2016,Canada,NaN,General management and administration employees,"Canadian air carriers, Levels I and II",Wages and salaries expenses,Dollars,81,thousands,3,v122643327,1.4.2.2,218855,NaN,NaN,NaN,0
21,2012,Canada,NaN,General management and administration employees,"Canadian air carriers, Levels I and II",Wages and salaries expenses,Dollars,81,thousands,3,v122643327,1.4.2.2,256858,NaN,NaN,NaN,0
187,2015,Canada,NaN,"Total, average number of employees","Total, Canadian air carriers, Levels I to III",Wages and salaries expenses,Dollars,81,thousands,3,v122643307,1.1.1.2,3991891,NaN,NaN,NaN,0
233,2015,Canada,NaN,"Total, fuel and oil consumption","Canadian air carriers, Level III",Consumption expenses,Dollars,81,thousands,3,v122643353,1.8.3.4,185212,NaN,NaN,NaN,0
201,2015,Canada,NaN,Other flight personnel,"Canadian air carriers, Levels I and II",Wages and salaries expenses,Dollars,81,thousands,3,v122643321,1.3.2.2,656623,NaN,NaN,NaN,0
7,2012,Canada,NaN,Pilots and co-pilots,"Total, Canadian air carriers, Levels I to III",Wages and salaries expenses,Dollars,81,thousands,3,v122643313,1.2.1.2,1162763,NaN,NaN,NaN,0
90,2013,Canada,NaN,Maintenance personnel,"Canadian air carriers, Level III",Average number of employees,Number,223,units,0,v122643334,1.5.3.1,1346,NaN,NaN,NaN,0
253,2016,Canada,NaN,"Total, average number of employees","Canadian air carriers, Level III",Wages and salaries expenses,Dollars,81,thousands,3,v122643311,1.1.3.2,245509,NaN,NaN,NaN,0
3,2012,Canada,NaN,"Total, average number of employees","Canadian air carriers, Levels I and II",Wages and salaries expenses,Dollars,81,thousands,3,v122643309,1.1.2.2,3320504,NaN,NaN,NaN,0
132,2014,Canada,NaN,Pilots and co-pilots,"Canadian air carriers, Levels I and II",Average number of employees,Number,223,units,0,v122643314,1.2.2.1,8197,NaN,NaN,NaN,0
101,2013,Canada,NaN,All other employees,"Canadian air carriers, Levels I and II",Wages and salaries expenses,Dollars,81,thousands,3,v122643345,1.7.2.2,383716,NaN,NaN,NaN,0
124,2014,Canada,NaN,"Total, average number of employees","Total, Canadian air carriers, Levels I to III",Average number of employees,Number,223,units,0,v122643306,1.1.1.1,55528,NaN,NaN,NaN,0
282,2016,Canada,NaN,Aircraft and traffic servicing personnel,"Canadian air carriers, Level III",Average number of employees,Number,223,units,0,v122643340,1.6.3.1,238,NaN,NaN,NaN,0
176,2014,Canada,NaN,Turbo fuel,"Canadian air carriers, Level III",Consumption quantity,Litres,203,thousands,3,v122643358,1.9.3.3,200598,NaN,NaN,NaN,0
138,2014,Canada,NaN,Other flight personnel,"Canadian air carriers, Levels I and II",Average number of employees,Number,223,units,0,v122643320,1.3.2.1,12082,NaN,NaN,NaN,0
91,2013,Canada,NaN,Maintenance personnel,"Canadian air carriers, Level III",Wages and salaries expenses,Dollars,81,thousands,3,v122643335,1.5.3.2,83990,NaN,NaN,NaN,0
216,2015,Canada,NaN,Aircraft and traffic servicing personnel,"Total, Canadian air carriers, Levels I to III",Average number of employees,Number,223,units,0,v122643336,1.6.1.1,9258,NaN,NaN,NaN,0
255,2016,Canada,NaN,Pilots and co-pilots,"Total, Canadian air carriers, Levels I to III",Wages and salaries expenses,Dollars,81,thousands,3,v122643313,1.2.1.2,1271311,NaN,NaN,NaN,0
30,2012,Canada,NaN,Aircraft and traffic servicing personnel,"Total, Canadian air carriers, Levels I to III",Average number of employees,Number,223,units,0,v122643336,1.6.1.1,9439,NaN,NaN,NaN,0
150,2014,Canada,NaN,Maintenance personnel,"Canadian air carriers, Levels I and II",Average number of employees,Number,223,units,0,v122643332,1.5.2.1,11054,NaN,NaN,NaN,0
284,2016,Canada,NaN,All other employees,"Total, Canadian air carriers, Levels I to III",Average number of employees,Number,223,units,0,v122643342,1.7.1.1,7027,NaN,NaN,NaN,0
261,2016,Canada,NaN,Other flight personnel,"Total, Canadian air carriers, Levels I to III",Wages and salaries expenses,Dollars,81,thousands,3,v122643319,1.3.1.2,668456,NaN,NaN,NaN,0

In [6]:
# Get only columns we want to work with
key = ['REF_DATE', 'Operating statistics type', 'Air carrier levels','Employment and fuel consumption','UOM','SCALAR_FACTOR','VALUE']
df = dfnt_raw[key]
df.head(12)

,REF_DATE,Operating statistics type,Air carrier levels,Employment and fuel consumption,UOM,SCALAR_FACTOR,VALUE
0,2012,"Total, average number of employees","Total, Canadian air carriers, Levels I to III",Average number of employees,Number,units,54390
1,2012,"Total, average number of employees","Total, Canadian air carriers, Levels I to III",Wages and salaries expenses,Dollars,thousands,3627839
2,2012,"Total, average number of employees","Canadian air carriers, Levels I and II",Average number of employees,Number,units,48800
3,2012,"Total, average number of employees","Canadian air carriers, Levels I and II",Wages and salaries expenses,Dollars,thousands,3320504
4,2012,"Total, average number of employees","Canadian air carriers, Level III",Average number of employees,Number,units,5590
5,2012,"Total, average number of employees","Canadian air carriers, Level III",Wages and salaries expenses,Dollars,thousands,307335
6,2012,Pilots and co-pilots,"Total, Canadian air carriers, Levels I to III",Average number of employees,Number,units,10236
7,2012,Pilots and co-pilots,"Total, Canadian air carriers, Levels I to III",Wages and salaries expenses,Dollars,thousands,1162763
8,2012,Pilots and co-pilots,"Canadian air carriers, Levels I and II",Average number of employees,Number,units,7983
9,2012,Pilots and co-pilots,"Canadian air carriers, Levels I and II",Wages and salaries expenses,Dollars,thousands,1033190
10,2012,Pilots and co-pilots,"Canadian air carriers, Level III",Average number of employees,Number,units,2253
11,2012,Pilots and co-pilots,"Canadian air carriers, Level III",Wages and salaries expenses,Dollars,thousands,129573

In [7]:
# Get only columns we want to work with
key = ['REF_DATE', 'Operating statistics type', 'Air carrier levels','UOM','VALUE']
dfs = dfnt_raw[key]
dfs.head(12)

,REF_DATE,Operating statistics type,Air carrier levels,UOM,VALUE
0,2012,"Total, average number of employees","Total, Canadian air carriers, Levels I to III",Number,54390
1,2012,"Total, average number of employees","Total, Canadian air carriers, Levels I to III",Dollars,3627839
2,2012,"Total, average number of employees","Canadian air carriers, Levels I and II",Number,48800
3,2012,"Total, average number of employees","Canadian air carriers, Levels I and II",Dollars,3320504
4,2012,"Total, average number of employees","Canadian air carriers, Level III",Number,5590
5,2012,"Total, average number of employees","Canadian air carriers, Level III",Dollars,307335
6,2012,Pilots and co-pilots,"Total, Canadian air carriers, Levels I to III",Number,10236
7,2012,Pilots and co-pilots,"Total, Canadian air carriers, Levels I to III",Dollars,1162763
8,2012,Pilots and co-pilots,"Canadian air carriers, Levels I and II",Number,7983
9,2012,Pilots and co-pilots,"Canadian air carriers, Levels I and II",Dollars,1033190
10,2012,Pilots and co-pilots,"Canadian air carriers, Level III",Number,2253
11,2012,Pilots and co-pilots,"Canadian air carriers, Level III",Dollars,129573

In [8]:
# Get 'Number'
carriers_number = dfs.loc[df['UOM']=='Number']
carriers_number = carriers_number.drop('UOM', axis=1)
carriers_number.head(22)

,REF_DATE,Operating statistics type,Air carrier levels,VALUE
0,2012,"Total, average number of employees","Total, Canadian air carriers, Levels I to III",54390
2,2012,"Total, average number of employees","Canadian air carriers, Levels I and II",48800
4,2012,"Total, average number of employees","Canadian air carriers, Level III",5590
6,2012,Pilots and co-pilots,"Total, Canadian air carriers, Levels I to III",10236
8,2012,Pilots and co-pilots,"Canadian air carriers, Levels I and II",7983
10,2012,Pilots and co-pilots,"Canadian air carriers, Level III",2253
12,2012,Other flight personnel,"Total, Canadian air carriers, Levels I to III",12176
14,2012,Other flight personnel,"Canadian air carriers, Levels I and II",11849
16,2012,Other flight personnel,"Canadian air carriers, Level III",327
18,2012,General management and administration employees,"Total, Canadian air carriers, Levels I to III",4276
20,2012,General management and administration employees,"Canadian air carriers, Levels I and II",3188
22,2012,General management and administration employees,"Canadian air carriers, Level III",1088
24,2012,Maintenance personnel,"Total, Canadian air carriers, Levels I to III",12473
26,2012,Maintenance personnel,"Canadian air carriers, Levels I and II",11152
28,2012,Maintenance personnel,"Canadian air carriers, Level III",1321
30,2012,Aircraft and traffic servicing personnel,"Total, Canadian air carriers, Levels I to III",9439
32,2012,Aircraft and traffic servicing personnel,"Canadian air carriers, Levels I and II",9057
34,2012,Aircraft and traffic servicing personnel,"Canadian air carriers, Level III",382
36,2012,All other employees,"Total, Canadian air carriers, Levels I to III",5790
38,2012,All other employees,"Canadian air carriers, Levels I and II",5571
40,2012,All other employees,"Canadian air carriers, Level III",219
62,2013,"Total, average number of employees","Total, Canadian air carriers, Levels I to III",55321

In [9]:
# Pivot number table
Mycolumn='Operating statistics type'
carriers_numberT = carriers_number.pivot_table(index= ['REF_DATE','Air carrier levels'], columns= Mycolumn, values='VALUE')
carriers_numberT.reset_index(inplace=True)
display(carriers_numberT)

Operating statistics type,REF_DATE,Air carrier levels,Aircraft and traffic servicing personnel,All other employees,General management and administration employees,Maintenance personnel,Other flight personnel,Pilots and co-pilots,"Total, average number of employees"
0,2012,"Canadian air carriers, Level III",382,219,1088,1321,327,2253,5590
1,2012,"Canadian air carriers, Levels I and II",9057,5571,3188,11152,11849,7983,48800
2,2012,"Total, Canadian air carriers, Levels I to III",9439,5790,4276,12473,12176,10236,54390
3,2013,"Canadian air carriers, Level III",442,259,1021,1346,352,2199,5619
4,2013,"Canadian air carriers, Levels I and II",9071,6129,3037,11164,12074,8227,49702
5,2013,"Total, Canadian air carriers, Levels I to III",9513,6388,4058,12510,12426,10426,55321
6,2014,"Canadian air carriers, Level III",456,210,1148,1383,387,2223,5807
7,2014,"Canadian air carriers, Levels I and II",8930,6111,3347,11054,12082,8197,49721
8,2014,"Total, Canadian air carriers, Levels I to III",9386,6321,4495,12437,12469,10420,55528
9,2015,"Canadian air carriers, Level III",421,299,1028,1211,368,2125,5452
10,2015,"Canadian air carriers, Levels I and II",8837,6626,3070,11146,11230,9136,50045
11,2015,"Total, Canadian air carriers, Levels I to III",9258,6925,4098,12357,11598,11261,55497
12,2016,"Canadian air carriers, Level III",238,304,535,913,175,1549,3714
13,2016,"Canadian air carriers, Levels I and II",9629,6723,2249,11327,12978,8410,51316
14,2016,"Total, Canadian air carriers, Levels I to III",9867,7027,2784,12240,13153,9959,55030

In [10]:
# Get 'Dollar'
carriers_dollars = dfs.loc[df['UOM']=='Dollars']
carriers_dollars = carriers_dollars.drop('UOM', axis=1)
carriers_dollars.head(22)

,REF_DATE,Operating statistics type,Air carrier levels,VALUE
1,2012,"Total, average number of employees","Total, Canadian air carriers, Levels I to III",3627839
3,2012,"Total, average number of employees","Canadian air carriers, Levels I and II",3320504
5,2012,"Total, average number of employees","Canadian air carriers, Level III",307335
7,2012,Pilots and co-pilots,"Total, Canadian air carriers, Levels I to III",1162763
9,2012,Pilots and co-pilots,"Canadian air carriers, Levels I and II",1033190
11,2012,Pilots and co-pilots,"Canadian air carriers, Level III",129573
13,2012,Other flight personnel,"Total, Canadian air carriers, Levels I to III",626063
15,2012,Other flight personnel,"Canadian air carriers, Levels I and II",611718
17,2012,Other flight personnel,"Canadian air carriers, Level III",14344
19,2012,General management and administration employees,"Total, Canadian air carriers, Levels I to III",321734
21,2012,General management and administration employees,"Canadian air carriers, Levels I and II",256858
23,2012,General management and administration employees,"Canadian air carriers, Level III",64876
25,2012,Maintenance personnel,"Total, Canadian air carriers, Levels I to III",736133
27,2012,Maintenance personnel,"Canadian air carriers, Levels I and II",658623
29,2012,Maintenance personnel,"Canadian air carriers, Level III",77511
31,2012,Aircraft and traffic servicing personnel,"Total, Canadian air carriers, Levels I to III",423729
33,2012,Aircraft and traffic servicing personnel,"Canadian air carriers, Levels I and II",409824
35,2012,Aircraft and traffic servicing personnel,"Canadian air carriers, Level III",13905
37,2012,All other employees,"Total, Canadian air carriers, Levels I to III",357417
39,2012,All other employees,"Canadian air carriers, Levels I and II",350291
41,2012,All other employees,"Canadian air carriers, Level III",7126
43,2012,"Total, fuel and oil consumption","Total, Canadian air carriers, Levels I to III",5948905

In [11]:
# Pivot dollars table
Mycolumn='Operating statistics type'
carriers_dollarsT = carriers_dollars.pivot_table(index= ['REF_DATE','Air carrier levels'], columns= Mycolumn, values='VALUE')
carriers_dollarsT.reset_index(inplace=True)
display(carriers_dollarsT)

Operating statistics type,REF_DATE,Air carrier levels,Aircraft and traffic servicing personnel,All other employees,All other fuel and oil,Gasoline,General management and administration employees,Maintenance personnel,Other flight personnel,Pilots and co-pilots,"Total, average number of employees","Total, fuel and oil consumption",Turbo fuel
0,2012,"Canadian air carriers, Level III",13905.0,7126.0,317.0,27997.0,64876.0,77511.0,14344.0,129573.0,307335.0,220562.0,192248.0
1,2012,"Canadian air carriers, Levels I and II",409824.0,350291.0,3776.0,NaN,256858.0,658623.0,611718.0,1033190.0,3320504.0,5728343.0,5724567.0
2,2012,"Total, Canadian air carriers, Levels I to III",423729.0,357417.0,32090.0,NaN,321734.0,736133.0,626063.0,1162763.0,3627839.0,5948905.0,5916815.0
3,2013,"Canadian air carriers, Level III",16646.0,10001.0,320.0,14474.0,61398.0,83990.0,13178.0,137637.0,322851.0,214908.0,200114.0
4,2013,"Canadian air carriers, Levels I and II",411846.0,383716.0,1991.0,NaN,265703.0,658932.0,637465.0,1074654.0,3432316.0,5697837.0,5695846.0
5,2013,"Total, Canadian air carriers, Levels I to III",428492.0,393717.0,16784.0,NaN,327102.0,742923.0,650642.0,1212291.0,3755167.0,5912745.0,5895961.0
6,2014,"Canadian air carriers, Level III",17435.0,8123.0,290.0,15121.0,67229.0,84963.0,13529.0,141777.0,333056.0,234329.0,218918.0
7,2014,"Canadian air carriers, Levels I and II",417475.0,401500.0,2684.0,NaN,276329.0,670596.0,608690.0,1072895.0,3447486.0,6017445.0,6014761.0
8,2014,"Total, Canadian air carriers, Levels I to III",434910.0,409624.0,18095.0,NaN,343558.0,755559.0,622219.0,1214672.0,3780542.0,6251774.0,6233679.0
9,2015,"Canadian air carriers, Level III",18047.0,9860.0,505.0,17518.0,63354.0,81782.0,15178.0,133393.0,321614.0,185212.0,167188.0
10,2015,"Canadian air carriers, Levels I and II",431487.0,438928.0,1957.0,NaN,294134.0,697281.0,656623.0,1151823.0,3670277.0,4689557.0,4687600.0
11,2015,"Total, Canadian air carriers, Levels I to III",449534.0,448789.0,19980.0,NaN,357488.0,779063.0,671801.0,1285216.0,3991891.0,4874769.0,4854789.0
12,2016,"Canadian air carriers, Level III",8075.0,15454.0,994.0,25530.0,44166.0,64593.0,7971.0,105249.0,245509.0,134868.0,108345.0
13,2016,"Canadian air carriers, Levels I and II",433578.0,548072.0,2392.0,NaN,218855.0,692171.0,660485.0,1166062.0,3719223.0,4095003.0,4092611.0
14,2016,"Total, Canadian air carriers, Levels I to III",441654.0,563527.0,28915.0,NaN,263021.0,756764.0,668456.0,1271311.0,3964732.0,4229871.0,4200956.0

In [12]:
# Save dataframes
carriers_numberT.to_csv('Carriers_Number.csv')
carriers_dollarsT.to_csv('Carriers_Dollars.csv')